{{template "cms/header.html" .}}
<div id="container">
    <div id="hd"></div>
    <div id="bd">
        <div id="main">

            <div class="table">
                <div class="opt ue-clear">
                	<span class="sortarea">
                        <a href="">刷新</a>
                    </span>
                    <span class="optarea">
                        <a href="{{ urlfor "MenuController.AddMenu" }}" class="add">
                            <i class="icon"></i>
                            <span class="text">添加</span>
                        </a>
                        <!--
                        <a href="javascript:;" class="delete">
                            <i class="icon"></i>
                            <span class="text">删除</span>
                        </a>
                        -->
                    </span>
                </div>

                <div class="grid"></div>

                <div class="pagination"></div>
            </div>
        </div>
    </div>
</div>
{{template "cms/footer.html" .}}
<script type="text/javascript">
    var head = [{
        label: 'ID',
        width: 50,
        name: 'id',
    }, {
        label: '排序',
        width: 50,
    }, {
        label: '名称',
        width: 250,
    }, {
        label: '路由',
        width: 200,
    }];

    var tbody = []

    var oper = [{
        label: '删除', onclick: function (e, i) {
            var id = $(e).find(".__data tr").eq(i).find('td[name="id"]').text();
            if (!confirm("确定删除吗?")) {
                return false
            }
            $.post("{{ urlfor "MenuController.DelMenu" }}", {"id": id}, function (resultData) {
                if (resultData.Code == 200) {
                    $(e).find(".__bodyfinal tr").eq(i).remove();
                    $(e).find(".__data tr").eq(i).remove();
                } else {
                    alert(resultData.Msg)
                }
            }, "json")
        }
    }, {
        label: '编辑', onclick: function (e, i) {
            var id = $(e).find(".__data tr").eq(i).find('td[name="id"]').text();
            window.location.href = "{{ urlfor "MenuController.EditMenu" }}" + "?id=" + id
        }
    }]

    $.get("{{ urlfor "NavController.Menu"}}", {}, function (resultData) {
        if (resultData.Code == 200) {
            ret = FormatMenuData(resultData.Data)
            // console.log(ret)
            for (var i = 0; i < ret.length; i++) {
                var htmllevel = ""
                if (ret[i].Level > 1) {
                    var htmlnbsp = ""
                    for (var u = 0; u < Math.pow(2, ret[i].Level); u++) {
                        htmlnbsp += "&nbsp;"
                    }
                    htmllevel = htmlnbsp + "|__ "
                }
                if (ret[i].Level == 1) {
                    color = "blue"
                } else if (ret[i].Level == 2) {
                    color = "green"
                } else {
                    color = "black"
                }
                var Id = ret[i].Id
                var Sort = "<input data-id='" + ret[i].Id + "' class='sort_menu' type='text' value='" + ret[i].Sort + "' size='1'/>"
                var Name = "<font color='" + color + "'>" + htmllevel + ret[i].Name + "</font>"
                var Router = ret[i].Router

                tbody.push([
                    Id,
                    Sort,
                    Name,
                    Router,
                    oper
                ])
            }
            $('.grid').Grid('setData', tbody, head);
        }
    }, "json")

    //排序 /cms/menu/sort
    var OldSortValue = 0
    $(".grid").on("focus",".sort_menu",function () {
        OldSortValue = $(this).val().trim()
    })
    $(".grid").on("blur", ".sort_menu", function () {
        var id = $(this).data("id")
        var value = $(this).val().trim()
        if(OldSortValue == value){
            return false
        }
        $.get("/cms/menu/sort", {id: id, value: value}, function (ret) {
            if (ret.Code == 200) {
                // history.go(0)
            } else {
                alert(ret.Msg)
            }
        }, "json")
    })

    $('.grid').Grid({
        thead: head,
        tbody: null,
        height: 600,
        // checkbox: {
        //     single: true
        // },
        operator: {
            type: "normal",
            width: 150
        },
        sortCallBack: function (name, index, type) {
            alert(name + "," + index + ',' + type);
        }

    });

    $('.grid').Grid('addLoading');

    function FormatMenuData(data) {
        var NData = []
        if (data !== null) {
            var level = 1
            for (var index = 0; index < data.length; index++) {
                var Adata = {
                    "Id": data[index].Id,
                    "Name": data[index].Name,
                    "Router": data[index].Router,
                    "Sort": data[index].Sort,
                    "Level": level
                }
                NData.push(Adata)
                var dataOne = data[index].Children
                if (dataOne !== null) {
                    for (var indexOne = 0; indexOne < dataOne.length; indexOne++) {
                        var Bdata = {
                            "Id": dataOne[indexOne].Id,
                            "Name": dataOne[indexOne].Name,
                            "Router": dataOne[indexOne].Router,
                            "Sort": dataOne[indexOne].Sort,
                            "Level": level + 1
                        }
                        NData.push(Bdata)
                        var dataTwo = dataOne[indexOne].Children
                        if (dataTwo !== null) {
                            for (var indexTwo = 0; indexTwo < dataTwo.length; indexTwo++) {
                                var Cdata = {
                                    "Id": dataTwo[indexTwo].Id,
                                    "Name": dataTwo[indexTwo].Name,
                                    "Router": dataTwo[indexTwo].Router,
                                    "Sort": dataTwo[indexTwo].Sort,
                                    "Level": level + 2
                                }
                                NData.push(Cdata)
                            }
                        }
                    }
                }
            }
        }
        return NData
    }
</script>
