<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/skin_/login.css" />
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.select.js"></script>
    <title>用户登录</title>
</head>

<body>
<div id="container">
    <div id="bd">
        <div id="main">
            <div class="login-box">
                <div id="logo"></div>
                <h1></h1>
                <div class="input username" id="username">
                    <label for="username_val">用户名</label>
                    <span></span>
                    <input type="text" id="username_val" />
                </div>
                <div class="input psw" id="psw">
                    <label for="password_val">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                    <span></span>
                    <input type="password" id="password_val" />
                </div>
                <div class="input validate" id="validate">
                    <label for="valiDate">验证码</label>
                    <input name="captcha" type="text" id="valiDate" />
                    <div class="value">
                        <input name="captcha_id" type="hidden" id="captcha_id" value=""/>
                        <a href="javascript:GetCaptchaData();"><img id="captcha_img" src="" alt=""/></a>
                    </div>
                </div>
                <div id="btn" class="loginButton">
                    <input type="button" class="button" value="登录"/>
                </div>
            </div>
        </div>
        <div id="ft">

        </div>
    </div>

</div>

</body>
<script type="text/javascript">
    var height = $(window).height() > 445 ? $(window).height() : 445;
    $("#container").height(height);
    var bdheight = ($(window).height() - $('#bd').height()) / 2 - 20;
    $('#bd').css('padding-top', bdheight);
    $(window).resize(function(e) {
        var height = $(window).height() > 445 ? $(window).height() : 445;
        $("#container").height(height);
        var bdheight = ($(window).height() - $('#bd').height()) / 2 - 20;
        $('#bd').css('padding-top', bdheight);
    });
    $('select').select();

    //验证码
    GetCaptchaData()
    function GetCaptchaData(){
        $.post("{{ urlfor  "IndexController.GetCaptchaData" }}",{},function(r){
            if (r.code == 200){
                $("#captcha_id").val(r.data.captchaId)
                $("#captcha_img").attr("src",r.data.srcPath + (new Date()).getTime())
            }
        },"json");
    }

    $('.loginButton').click(function(e) {
        var username = $('#username_val').val().trim();
        var password = $('#password_val').val().trim();
        var captcha = $("#valiDate").val().trim();
        var captcha_id = $("input[name=captcha_id]").val().trim();
        if(username == '' || password == ''){
            alert("用户名或密码不能为空");
            return false;
        }
        if(captcha == ""){
            alert("验证码不能为空");
            return false;
        }
        $.post("",{username:username,password:password,captcha:captcha,captcha_id:captcha_id},function (r) {
            // console.log(r);
            if(r.code == 200){
                window.location.href = r.data.url != undefined ? r.data.url : ""
            }else{
                alert(r.msg)
            }
            GetCaptchaData()
        },"json");
    });
</script>

</html>