<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/skin_/table.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/jquery.grid.css" />

    <link rel="stylesheet" type="text/css" href="/static/admin/css/skin_/form.css" />
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css"/>

    <title></title>
</head>
<body>