<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/skin_/main.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/jquery.dialog.css"/>
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/global.js"></script>
    <title>企业管理</title>
</head>

<body>
<div id="container">
    <div id="hd">
        <div class="hd-top">
            <h1 class="logo"><a href="javascript:;" class="logo-icon"></a></h1>
            <div class="user-info">
                <a href="javascript:;" class="user-avatar more-info-btn">
                    <span>
                        <img style="border-radius: 50%" id="user-head-pic" width="34" height="34"
                             src="{{.AdminUser.HeadPic}}">
                        <i class="info-num">{{.MessageCount}}</i>
                    </span>
                </a>
                <span class="user-name">{{.AdminUser.Username}}</span>
                <a href="javascript:;" class="more-info more-info-btn"></a>
            </div>
            <div class="setting ue-clear">
                <div class="setting-skin">
                    <div class="switch-bar">
                        <i class="skin-icon"></i>
                        <span class="text">皮肤</span>
                        <i class="arrow-icon"></i>
                    </div>
                </div>
                <ul class="setting-main ue-clear">
                    <!--
                    <li><a href="javascript:;">桌面</a></li>
                    <li><a href="javascript:;">帮助</a></li>
                    <li><a href="javascript:;">设置</a></li>
                    -->
                    <li><a href="javascript:;" class="close-btn exit"></a></li>
                </ul>
            </div>
        </div>
        <div class="hd-bottom">
            <i class="home"><a href="javascript:;"></a></i>
            <div class="nav-wrap">
                <ul class="nav ue-clear">
                    {{range $key, $val := .TopMenu}}
                        <li><a class="top-menu-s" data-id="{{$val.Id}}" href="javascript:;">{{$val.Name}}</a></li>
                    {{end}}
                </ul>
            </div>
            <div class="nav-btn">
                <a href="javascript:;" class="nav-prev-btn"></a>
                <a href="javascript:;" class="nav-next-btn"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <iframe width="100%" height="100%" id="mainIframe" src="{{ .Navpath }}" frameborder="0"></iframe>
    </div>

    <div id="ft" class="ue-clear">
        <div class="ft1 ue-clear">

        </div>
        <div class="ft2 ue-clear">

        </div>
    </div>
</div>

<div class="exitDialog" style="display: none">
    <div class="content">
        <div class="ui-dialog-icon"></div>
        <div class="ui-dialog-text">
            <p class="dialog-content">你确定要退出系统？</p>
            <p class="tips">如果是请点击“确定”，否则点“取消”</p>

            <div class="buttons">
                <input type="button" class="button long2 ok" value="确定"/>
                <input type="button" class="button long2 normal" value="取消"/>
            </div>
        </div>

    </div>
</div>

<div class="opt-panel user-opt" style="top:52px;left:330px;">
    <ul>
        <li><a href="javascript:;" class="text my_info">我的资料</a></li>
        <li><a class="text message">消息<span class="num">({{.MessageCount}})</span></a></li>
    </ul>
    <div class="opt-panel-tl"></div>
    <div class="opt-panel-tc"></div>
    <div class="opt-panel-tr"></div>
    <div class="opt-panel-ml"></div>
    <div class="opt-panel-mr"></div>
    <div class="opt-panel-bl"></div>
    <div class="opt-panel-bc"></div>
    <div class="opt-panel-br"></div>
    <div class="opt-panel-arrow"></div>
</div>

<div class="opt-panel skin-opt" style="top:36px;right:43px;">
    <ul class="ue-clear">
        <li attr-color="">默认</li>
        <li attr-color="#0f8dc7"></li>
        <li attr-color="#1ea4a9"></li>
        <li attr-color="#eb7f00"></li>
        <li attr-color="#ed0f04"></li>
        <li attr-color="#f24b39"></li>
        <li attr-color="#ed0f04"></li>
        <li attr-color="#1ea4a9"></li>
        <li attr-color="#000000"></li>
    </ul>
    <div class="opt-panel-ml"></div>
    <div class="opt-panel-mr"></div>
    <div class="opt-panel-bl"></div>
    <div class="opt-panel-bc"></div>
    <div class="opt-panel-br"></div>
</div>

<div class="system-switch">
    <ul>
        <li>
            <span class="system-name"><i></i>数字管理系统</span>
        </li>
        <li>
            <span class="system-name"><i></i>网络信息管理系统</span>
        </li>
        <li>
            <span class="system-name"><i></i>后台管理系统</span>
        </li>
        <li>
            <span class="system-name"><i></i>信息科技ERP系统</span>
        </li>
        <li>
            <span class="system-name"><i></i>网络管理系统</span>
        </li>
    </ul>
    <div class="opt-panel-mr"></div>
    <div class="opt-panel-bc"></div>
    <div class="opt-panel-br"></div>
</div>

</body>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.dialog.js"></script>
<script type="text/javascript" src="/static/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    //一级菜单操作
    $(".top-menu-s").on("click", function () {
        var Id = $(this).data("id")
        var Name = $(this).html()
        $("#mainIframe").contents().find(".MenuName").html(Name)
        $("#mainIframe").contents().find(".MenuList-" + Id).show().siblings(".nav").hide()
    })

    $("#bd").height($(window).height() - $("#hd").outerHeight() - 26);

    $(window).resize(function (e) {
        $("#bd").height($(window).height() - $("#hd").outerHeight() - 26);

    });

    $('.exitDialog').Dialog({
        title: '提示信息',
        autoOpen: false,
        width: 400,
        height: 200
    });

    $('.exit').click(function () {
        $('.exitDialog').Dialog('open');
    });
    //退出操作
    $('.exitDialog input[type=button]').click(function (e) {
        $('.exitDialog').Dialog('close');
        if ($(this).hasClass('ok')) {
            window.location.href = "{{urlfor  "HomeController.Logout"}}";
        }
    });
    //我的资料
    $(".my_info").on("click", function () {
        layer.open({
            type: 2,
            title: "我的资料",
            area: ['60%', '70%'],
            fixed: false,
            maxmin: true,
            content: '/cms/home/my_info'
        });
    });
    //消息
    $(".message").on("click", function () {
        layer.closeAll()
        layer.open({
            type: 2,
            title: "消息",
            anim: 2,
            offset: 'rb',
            area: ['400px', '100%'],
            fixed: true,
            isOutAnim: false,
            maxmin: false,
            shade: 0,
            zIndex: 19940720,
            shadeClose: false,
            /*scrollbar: false,*/
            content: ['/cms/home/message', 'no']
        });
    });

    (function () {
        var totalWidth = 0, current = 1;

        $.each($('.nav').find('li'), function () {
            totalWidth += $(this).outerWidth();
        });

        $('.nav').width(totalWidth);

        function currentLeft() {
            return -(current - 1) * 93;
        }

        $('.nav-btn a').click(function (e) {
            var tempWidth = totalWidth - (Math.abs($('.nav').css('left').split('p')[0]) + $('.nav-wrap').width());
            if ($(this).hasClass('nav-prev-btn')) {
                if (parseInt($('.nav').css('left').split('p')[0]) < 0) {
                    current--;
                    Math.abs($('.nav').css('left').split('p')[0]) > 93 ? $('.nav').animate({'left': currentLeft()}, 200) : $('.nav').animate({'left': 0}, 200);
                }
            } else {

                if (tempWidth > 0) {

                    current++;
                    tempWidth > 93 ? $('.nav').animate({'left': currentLeft()}, 200) : $('.nav').animate({'left': $('.nav').css('left').split('p')[0] - tempWidth}, 200);
                }
            }
        });


        $.each($('.skin-opt li'), function (index, element) {
            if ((index + 1) % 3 == 0) {
                $(this).addClass('third');
            }
            $(this).css('background', $(this).attr('attr-color'));
        });

        $('.setting-skin').click(function (e) {
            $('.skin-opt').show();
        });

        $('.skin-opt').click(function (e) {
            if ($(e.target).is('li')) {
                // alert($(e.target).attr('attr-color'));
                $(".hd-top").css("background", $(e.target).attr('attr-color'));
                $("#mainIframe").contents().find(".main .tab li.current a span").css("color", $(e.target).attr('attr-color'));
                $("#mainIframe").contents().find(".sidebar h2").css("background", $(e.target).attr('attr-color'));
                $("#mainIframe").contents().find(".sidebar .nav .nav-li .subnav li.current a").css("background", $(e.target).attr('attr-color'));
                $("#mainIframe").contents().find(".sidebar .nav .nav-li.current>a .nav-text").css("color", $(e.target).attr('attr-color'));
            }
        });

        $('.hd-top .user-info .more-info-btn').click(function (e) {
            $(this).toggleClass('active');
            $('.user-opt').toggle();
        });

        $('.logo-icon').click(function (e) {
            $(this).toggleClass('active');
            $('.system-switch').toggle();
        });

        hideElement($('.user-opt'), $('.more-info-btn'), function (current, target) {

            $('.more-info-btn').removeClass('active');
        });

        hideElement($('.skin-opt'), $('.switch-bar'));

        hideElement($('.system-switch'), $('.logo-icon'), function (current, target) {

            $('.logo-icon').removeClass('active');
        });

    })();


</script>
</html>
