<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css"/>
    <link rel="stylesheet" href="/static/admin/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/skin_/nav.css"/>
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/global.js"></script>
    <title></title>
</head>

<body>
<div id="container">
    <div id="bd">
        <div class="sidebar">
            <div class="sidebar-bg"></div>
            <i class="sidebar-hide"></i>
            <h2><a href="javascript:;"><i class="h2-icon" title="切换到树型结构"></i><span class="MenuName"></span></a></h2>
            {{range $key, $val := .MenuList}}
                <ul class="nav MenuList-{{$val.Id}}"
                    style="{{if eq 0 $key}} display: block; {{else}} display: none; {{end}}">
                    {{range $keyOne,$valOne := $val.Children}}
                        <li class="nav-li">
                            <a href="javascript:;" class="ue-clear"><i class="nav-ivon"></i><span
                                        class="nav-text">{{$valOne.Name}}</span></a>
                            <ul class="subnav">
                                {{range $keyTwo,$valTwo := $valOne.Children}}
                                    <li class="subnav-li" href="{{$valTwo.Router}}" data-id="{{$valTwo.Id}}"><a
                                                href="javascript:;" class="ue-clear"><i class="subnav-icon"></i><span
                                                    class="subnav-text">{{$valTwo.Name}}</span></a></li>
                                {{end}}
                            </ul>
                        </li>
                    {{end}}
                </ul>
            {{end}}
            <div class="tree-list outwindow">
                <div class="tree ztree"></div>
            </div>
        </div>
        <div class="main">
            <div class="title">
                <i class="sidebar-show"></i>
                <ul class="tab ue-clear">

                </ul>
                <i class="tab-more"></i>
                <i class="tab-close"></i>
            </div>
            <div class="content">
            </div>
        </div>
    </div>
</div>

<div class="more-bab-list">
    <ul></ul>
    <div class="opt-panel-ml"></div>
    <div class="opt-panel-mr"></div>
    <div class="opt-panel-bc"></div>
    <div class="opt-panel-br"></div>
    <div class="opt-panel-bl"></div>
</div>
</body>
<script type="text/javascript" src="/static/admin/js/nav.js"></script>
<script type="text/javascript" src="/static/admin/js/Menu.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript">

    var TopName = $('.top-menu-s', parent.document).eq(0).html();
    $(".MenuName").html(TopName)

    function viewIframeFun(id, url, name) {
        var tab = '<li data-id="' + id + '" class="current"><a href="javascript:;" class="ue-clear"><span>' + name + '</span><i class=""></i></a></li>';

        var height = $("#bd").height() - $(".tab").height() - 8
        var body = '<iframe data-id="' + id + '" width="100%" height="100%" frameborder="0" src="' + url + '" style="height: ' + height + 'px" class=""></iframe>'

        $(".tab li").removeClass("current")
        $(".content iframe").addClass("outwindow")

        $(".tab").empty().append($(tab))
        $(".content").empty().append($(body))
    }

    var menu = new Menu({
        defaultSelect: $('.nav').find('.subnav-li').eq(0)
    });


    // 左侧树结构加载
    var setting = {};
    var zNodes = [];
    {{range $key, $val := .MenuList}}
    zNodes.push([
        {{range $keyOne,$valOne := $val.Children}}
        {
            name: "{{$valOne.Name}}",
            open: true,
            children: [
                {{range $keyTwo,$valTwo := $valOne.Children}}
                {
                    name: "{{$valTwo.Name}}",
                    icon: "/static/admin/img/skin_/leftlist.png",
                    click: "viewIframeFun('{{$valTwo.Id}}','{{$valTwo.Router}}','{{$valTwo.Name}}')"
                },
                {{end}}
            ]
        },
        {{end}}
    ]);
    {{end}}

    $.fn.zTree.init($(".tree"), setting, zNodes[0]);
    $(parent.document).find('.top-menu-s').on("click", function (i) {
        var index = $(parent.document).find('.top-menu-s').index(this)
        $.fn.zTree.init($(".tree"), setting, zNodes[index]);
    })

    $('.sidebar h2').click(function (e) {
        $('.tree-list').toggleClass('outwindow');
        $('.nav').toggleClass('outwindow');
    });

    $(document).click(function (e) {
        if (!$(e.target).is('.tab-more')) {
            $('.tab-more').removeClass('active');
            $('.more-bab-list').hide();
        }
    });
</script>
</html>
